node_modules/
dist/
release/
*.log
.DS_Store
Thumbs.db
android/build/
android-gecko/build/
android-gecko/app/build/
android-gecko/.gradle/
android-gecko/local.properties
*.apk
*.keystore
firefox-edition-linux.tar.gz
android-chromium/build/
android-chromium/app/build/
android-chromium/.gradle/
android-chromium/local.properties
